{"openapi":"3.1.0","info":{"title":"AI 皮肤护理系统 后端 MVP（由实际 Controller/DTO 生成）","description":"本页由运行中的 Java 后端（Spring MVC + springdoc 2.8.x）从实际 Controller/DTO\n生成，非手写 YAML 回显。它**不是**权威契约：字段级/错误码级契约的权威来源是\nbackend/contracts/openapi/openapi.yaml；两者不一致时以契约文件为准。\n生成文档为 OpenAPI 3.1.0，权威契约为 OpenAPI 3.0.3；operationId 由 Java 方法名\n派生，未对齐契约 operationId。\n\n== 联调导读 ==\n\n【统一响应信封】\n- 成功：{requestId, data, meta:{replayed, serverTime}}；每个成功响应的 data 均为该端点的\n  真实类型（见各响应 schema，不再是不可展开的 object）。\n- 204：无响应体（requestId 见 X-Request-Id 头）。\n- 错误：{requestId, error:{code, message, retryable, details?}}；由\n  GlobalExceptionHandler 统一渲染，控制器不自拼错误体。\n- 列表：data = {items:[], nextCursor:string|null}；分页 limit 默认 20、上限 100；\n  cursor 为不透明游标（原样回传；非法游标 400 INVALID_INPUT，details.reason=invalid_cursor）。\n- 每个响应（含错误与 204）都带 X-Request-Id 头；每个 HTTP 尝试生成新的 requestId，\n  与 T13 稳定逻辑请求 ID 区分，不能用作幂等键。\n\n【类型与格式】\n- JSON 字段 camelCase；DB/任务内 payload 为 snake_case。\n- bigint（N/K/revision/seq/计数/版本）在 JSON 中一律为十进制字符串（pattern ^(0|[1-9][0-9]*)$）。\n- schema_version 为 JSON 整数（如 1）。\n- 时间为 RFC3339 UTC、秒精度（如 2026-09-13T08:30:00Z）。\n\n【鉴权】全局默认 BearerAuth；下列 4 个公开端点无 Bearer（契约 security: []）：\nPOST /api/v1/auth/sms-challenges、POST /api/v1/auth/sessions、\nPOST /api/v1/auth/session-refreshes、POST /api/v1/gimbal-sessions。\n其余端点要求 Authorization: Bearer <APP session token | gimbal device session token>。\n主体身份只由服务端从 token 派生，请求体不能声明 accountId/gimbalId。\n本页全局 bearer 只表达“是否需要 token”，不表达 APP/GIMBAL 类型限制与\n成员查看授权/当前任务/绑定关系等细粒度权限（由后端运行时强制，以契约各端点描述为准）。\n\n【幂等（Idempotency-Key）】\n- 除 M2-A01 握手与 M2-A02 心跳（按 epoch/seq 去重）外，业务写接口要求\n  Idempotency-Key（1-128 字符）。\n- 同键同内容：重放原结果，meta.replayed=true（不重做写入）。\n- 同键不同内容：409 IDEMPOTENCY_CONTENT_CONFLICT；这是新的逻辑请求，必须换新键。\n- 处理中：409 REQUEST_IN_PROGRESS（retryable），按 Retry-After 等待后以同一逻辑键重试。\n- T13 主键为 (principal_type, principal_id, operation, idempotency_key)；**无 TTL**，\n  不得按短 TTL 清理。返回体各错误码的客户端动作见对应错误响应 description。\n\n【multipart 约定】metadata part 为 application/json（严格解析），图片 part 为二进制\n（image/jpeg、image/png 等，单图上限开发初值 10MiB，以内容嗅探为准）；响应\nCache-Control: no-store。\n\n【主要调用链与顺序】\n1) 测肤链：POST /api/v1/gimbal-sessions（云台握手）→ POST /api/v1/skin-assessment-tasks\n   （M3-A01，202 受理）→ worker 分析 → GET /api/v1/skin-assessment-tasks/{taskId} 轮询\n   status；需补拍时 PUT …/photo-versions/{photoVersion}（M3-A02，202；须 needs_retake 且\n   版本=当前版本+1）。\n2) 护理链：GET /api/v1/members/{memberId}/skin-reports → GET /api/v1/skin-reports/{reportId}\n   → GET /api/v1/members/{memberId}/care-plans → GET /api/v1/care-plans/{planId}（就绪后）\n   → POST /api/v1/care-executions（开始执行，multipart）→ POST …/observations 同步测量\n   → POST …/closure-confirmations 收尾 → GET /api/v1/care-executions/{executionId}\n   读进度/记录。\n3) 配网绑定通知链：POST /api/v1/gimbal-sessions → PUT /api/v1/me/gimbal-bindings/{gimbalId}\n   （绑定）→ GET /api/v1/gimbals/{gimbalId}/binding-status（轮询绑定结果）→\n   PUT /api/v1/me/notification-destinations/{installationId}（登记推送目标）→\n   DELETE /api/v1/me/gimbal-bindings/{gimbalId} 解绑（204）。\n\n【自由结构】Java 侧声明为 Object/Map/JsonNode 的字段若无法静态展开为字段级 schema，\n会在该字段 description 中给出已知键、schema_version 口径与**可扩展边界**（哪些键封闭、\n哪些开放扩展）；客户端必须容忍开放扩展键；服务端内部诊断键（failure_detail/last_error\n原始内容等）绝不外发。\n\n【部署限制】本页仅在 dev/test 启用；生产（app.env=production 或 prod profile）文档端点\n关闭，强制启用将拒绝启动。Swagger UI 不得用于公网生产。\n","version":"0.1.0"},"servers":[{"url":"https://eveaisia.com/openvela","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"测肤任务","description":"测肤任务：云台提交三视角照片、按补拍要求提交新照片版本、查询任务状态，以及云台重启后恢复后端保存的唯一当前任务。"},{"name":"测肤报告","description":"测肤报告：已授权 APP 分页列出成员报告，APP full / 云台 brief 读取冻结报告的受控投影（含同源鉴权代理图片引用）。"},{"name":"护理方案","description":"护理方案（M4-A01/A02/A08）：列表、完整版与累计进度查询。仅已授权 APP（进度端点另接受具备当前已核验执行上下文的云台）。进度口径：N=目标次数、K=已同步次数、剩余=max(N-K,0)、K>=N 即完成、K 不截断。"},{"name":"护理执行","description":"护理执行（M4-A03/A04/A07）：人脸核验后登记新执行、连续性失效后重新核验、查询执行与恢复联网后的对账状态。成功仅表示\"已登记，待端侧确认\"，不宣称硬件已运行。"},{"name":"执行记录与收尾","description":"执行记录与收尾（M4-A05/A06/A09）：同步微晶实际状态与有效完成记录、确认本地已停止并完成收尾、查看成员护理执行历史。收尾是停止后的确认，不是远程停止命令。"},{"name":"基础认证","description":"手机号账号与会话基础协议：短信挑战、会话签发/刷新/撤销。公开端点用提供方凭据证明，受保护端点用 Bearer session token。"},{"name":"基础媒体","description":"受控媒体对象二进制读取：逐次鉴权、no-store、nosniff、不可见与不存在同 404 RESOURCE_NOT_VISIBLE。"},{"name":"基础系统","description":"跨语言端到端验收桥：system.echo 异步任务的入队与只读查询，用于验证 Java/Python 任务交接与创建者归属。"},{"name":"云台会话","description":"云台设备会话握手（M2-A01）：设备凭据换取 gimbal device session token，设备上电/重连后的第一个请求。"},{"name":"云台AI问答","description":"云台 AI 文本透传（用户授权增量）：云台提交一段文本，服务端流式转发给 AI 服务的 /internal/v1/ai/responses:stream，并以 SSE 逐事件回传。当前为 无状态、无上下文问答，不具备测肤后续追问能力。"},{"name":"成员访问授权","description":"成员查看授权：APP 人脸核验建立/查询/撤销对本人资料的查看关联。授权不自动过期；无 active grant 时查看该成员资料返回 404。"},{"name":"设备与绑定","description":"云台与微晶：云台心跳与状态（仅云台/绑定账号）、微晶能力与状态观察（APP 或云台）、配网查询与主动绑定/解绑（仅 APP）。绑定只决定异常通知账号，不授予成员资料查看权。"},{"name":"通知目标","description":"通知目标：已登录 APP 登记本安装实例的推送投递目标（只登记、不发送消息；绝不回传完整推送 token）。"},{"name":"测肤报告播报","description":"测肤报告文案播报流（用户授权增量）：云台按任务触发服务端真实转发 llm-rag-api 的报告评估 SSE，并以 SSE 逐事件回传；不支持重放。"}],"paths":{"/api/v1/skin-assessment-tasks/{taskId}/photo-versions/{photoVersion}":{"put":{"tags":["测肤任务"],"summary":"补拍并提交新照片版本（仅云台）","description":"用途：任务进入 needs_retake 后，云台对被要求的视角重新采集并提交新照片版本，\n沿用同一任务并触发重分析。\n调用方主体：仅该任务所属且仍以该任务为当前任务的云台（gimbal device session token）；APP 不开放。\n前置与顺序（须全部满足）：① taskId 存在且属于该云台，否则 404 RESOURCE_NOT_VISIBLE；\n② taskId 仍是云台的当前任务，否则 409 TASK_REPLACED；③ 任务状态为 needs_retake，\n否则 409 PHOTO_VERSION_CONFLICT（report_ready 之后不得补拍）；④ 路径 photoVersion\n必须等于当前 currentPhotoVersion+1，且 metadata.expectedPhotoVersion 等于当前版本，\n否则 409 PHOTO_VERSION_CONFLICT。任意跳版本或引用其他任务媒体一律拒绝。\n请求：multipart/form-data。metadata 为 application/json（结构见 A02Metadata）；\n图片 part 名必须与 replacedViews 中各视角同名（front/left/right），集合完全一致、\n不得缺失/多余/重复（否则 400 INVALID_INPUT）；未更换视角由后端沿用当前版本已接纳图片。\n字段单位与格式：单图 ≤10MiB、三图合计 ≤32MiB（开发初值）；图片按字节内容嗅探\n（JPEG/PNG/GIF/WebP）。\n幂等语义：Idempotency-Key 必填。payload_hash 由 JCS 规范化路径参数（taskId/photoVersion）+\nexpectedPhotoVersion/replacedViews + 图片摘要计算；同键同内容重放返回 200 且不增加版本；\n同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS。\n受理语义：成功 202；taskId 不变，photoVersion 递增，processing_revision+1，状态回到 queued，\n旧分析结果不覆盖新版本（版本检查拦截过期写回）。\n失败：补拍/分析失败不回退——不恢复旧任务的云台访问入口（D01-5/D01-6）。\n响应：202 data=AssessmentTaskAccepted（新版本）；200 为同请求重放（currentAssessmentRevision\n为云台当前代次或 null）。\n错误处理：PHOTO_VERSION_CONFLICT 刷新任务当前版本/状态后以正确的下一版本重试（不要跳版或\n重复提交同版本异内容）；TASK_REPLACED 以当前任务为准重新发起；其余按错误响应动作。\n","operationId":"retake","parameters":[{"name":"taskId","in":"path","description":"必填，path，UUID 字符串（T05.id），测肤任务引用。","required":true,"schema":{"type":"string","format":"uuid"},"example":"7f3c2b1a-9d4e-4c5f-8a6b-1d2e3f4a5b6c"},{"name":"photoVersion","in":"path","description":"必填，path，无符号 bigint 十进制字符串（pattern ^(0|[1-9][0-9]*)$）。本次提交的新版本号，必须等于任务当前 currentPhotoVersion+1（首次受理后为 1，补拍须为当前版本+1，否则 409 PHOTO_VERSION_CONFLICT）。","required":true,"schema":{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},"example":"2"},{"name":"Idempotency-Key","in":"header","description":"必填，header，字符串，1—128 字符。逻辑写请求去重键（T13）。同键同内容重放返回 200 且不增加版本；同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT。","required":true,"schema":{"type":"string","maxLength":128,"minLength":1},"example":"c7e2d3f4-5a6b-4c7d-8e9f-0a1b2c3d4e5f"}],"requestBody":{"description":"multipart/form-data。metadata（application/json，结构见 A02Metadata）+ 本次更换视角的图片二进制 part：图片 part 名必须与 metadata.replacedViews 集合完全一致（part 名即视角名front/left/right），缺失/多余/重复均 400 INVALID_INPUT；未更换视角由后端沿用。大小上限：单图 10MiB、合计 32MiB。幂等：JCS 规范化路径参数 + metadata 字段 + 图片摘要计算 payload_hash；同一 Idempotency-Key + 相同 payload_hash 重放不增加版本，同键异内容 409。","content":{"multipart/form-data":{"schema":{"type":"object","additionalProperties":false,"description":"multipart/form-data。metadata（application/json，结构见 A02Metadata）+ 本次更换视角的图片二进制 part：图片 part 名必须与 metadata.replacedViews 集合完全一致（part 名即视角名front/left/right），缺失/多余/重复均 400 INVALID_INPUT；未更换视角由后端沿用。大小上限：单图 10MiB、合计 32MiB。幂等：JCS 规范化路径参数 + metadata 字段 + 图片摘要计算 payload_hash；同一 Idempotency-Key + 相同 payload_hash 重放不增加版本，同键异内容 409。","properties":{"metadata":{"$ref":"#/components/schemas/A02Metadata","description":"必填，application/json。结构见 A02Metadata：expectedPhotoVersion 为十进制 bigint 字符串且须等于当前版本；replacedViews 为非空、去重、仅含 front/left/right 的清单。"},"front":{"type":"string","format":"binary","description":"条件必填：仅当 metadata.replacedViews 列出 front 时必须上传更换后的正面视角照片二进制；未列入的视角不得上传多余 part（服务端要求 part 集合与replacedViews 精确一致）。单图 ≤10MiB；按内容嗅探（JPEG/PNG/GIF/WebP）。"},"left":{"type":"string","format":"binary","description":"条件必填：仅当 metadata.replacedViews 列出 left 时必须上传更换后的左侧视角照片二进制；未列入的视角不得上传多余 part（服务端要求 part 集合与replacedViews 精确一致）。单图 ≤10MiB；按内容嗅探（JPEG/PNG/GIF/WebP）。"},"right":{"type":"string","format":"binary","description":"条件必填：仅当 metadata.replacedViews 列出 right 时必须上传更换后的右侧视角照片二进制；未列入的视角不得上传多余 part（服务端要求 part 集合与replacedViews 精确一致）。单图 ≤10MiB；按内容嗅探（JPEG/PNG/GIF/WebP）。"}},"required":["metadata"]},"encoding":{"metadata":{"contentType":"application/json"},"front":{"contentType":"image/png"},"left":{"contentType":"image/png"},"right":{"contentType":"image/png"}}}},"required":true},"responses":{"200":{"description":"同请求重放（同键同内容），不增加版本、不重复重分析","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/AssessmentTaskAccepted","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"202":{"description":"新版本已受理（taskId 不变，photoVersion 递增，processing_revision 增加，状态回到 queued）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/AssessmentTaskAccepted","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- TASK_REPLACED（retryable=false）：该云台的当前测肤任务已被新任务替换，旧任务不再是当前任务。触发：操作针对的任务 ≠ 云台当前任务。客户端动作：不返回旧报告/旧方案、不恢复旧指针；以当前任务为准重新发起。\n- PHOTO_VERSION_CONFLICT（retryable=false）：照片版本冲突：补拍版本必须为当前版本 + 1，且任务须处于 needs_retake。触发：版本不连续、expected 不符、或任务状态不允许补拍。客户端动作：刷新任务当前版本/状态后，以正确的下一版本重试；不要跳版或重复提交同版本异内容。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"413":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UPLOAD_TOO_LARGE（retryable=false）：上传图片超过单图上限（开发初值 10MiB，以配置为准）。触发：multipart 图片字节数超限。客户端动作：压缩/降分辨率后以新的逻辑键重试；不得原样重放。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"415":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UNSUPPORTED_IMAGE（retryable=false）：图片格式不在白名单（JPEG/PNG/GIF/WebP，按内容嗅探，不信任客户端 MIME）。触发：字节头无法识别或为空图。客户端动作：改用受支持格式后重试。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","UPLOAD_TOO_LARGE","UNSUPPORTED_IMAGE","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","TASK_REPLACED","PHOTO_VERSION_CONFLICT","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/me/notification-destinations/{installationId}":{"put":{"tags":["通知目标"],"summary":"登记本安装实例的推送投递目标","description":"用途：已登录 APP 登记本安装实例的推送投递目标（T09）；本接口只登记目标、不发送任何消息。\n调用方：仅 APP（Bearer）；云台 → 403 CALLER_NOT_ALLOWED。路径 installationId 必须等于 token 主体\n（principal.installationId），否则 403 CALLER_NOT_ALLOWED——不能仅凭 installationId 抢占或替他人登记；\n路径空白/超 128 → 400 INVALID_INPUT。\n请求：provider 1—64 字符；platform 当前仅 android（其他值 → 400 INVALID_INPUT）；registration 必须为\n非空对象且 schema_version 为 JSON 整数（缺省服务端注入整数 1，显式非整数 → 400）；\nexpectedDestinationRevision 为无符号 bigint 十进制字符串。\n代次规则：首次建 expected 必须为 \"0\"，destination_revision 首建即 1；内容变化、换号接管、相同内容但\n会话引用变化（含 invalid 重新激活）各 +1，使旧会话的 T10 路由快照失配；仅“同会话且已 active”的纯\n幂等重登记不递增代次。换号接管（installationId 属当前 token）接受 expected \"0\" 或当前值并 +1。\n幂等语义：Idempotency-Key 必填（1—128 字符）；同键同内容重放返回原结果且 meta.replayed=true；\n同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS。expected 不符 →\n409 BINDING_CHANGED，details.currentDestinationRevision（只含当前代次，不泄漏其他账号信息）。\n响应：只含 destinationId/destinationRevision/status，绝不回传完整推送 token/registration；\nstatus 为 active|disabled|invalid（登出会置 invalid 并同事务递增代次）。全程 header Cache-Control: no-store。\n未冻结：推送通道未选定，provider 取值与 registration 字段结构待定（契约 x-detail: skeleton）；\n服务端不得据此发送消息。\n错误处理：INVALID_INPUT 修正 platform/registration/installationId；BINDING_CHANGED 刷新当前代次后重试；\nCALLER_NOT_ALLOWED 使用本会话绑定的 installationId。\n","operationId":"register","parameters":[{"name":"installationId","in":"path","description":"必填，路径参数，字符串，APP 安装实例 ID（客户端生成，1—128 字符）；必须等于 token 主体绑定安装，否则 403 CALLER_NOT_ALLOWED。","required":true,"schema":{"type":"string"},"example":"install-0000-0000-0000-000000000001"},{"name":"Idempotency-Key","in":"header","description":"必填，字符串，1—128 字符；T13 幂等键（principal_type+principal_id+operation+idempotency_key）。同逻辑重试保持键与内容不变；更换业务内容使用新键。生成文档标 required=false（控制器手工读取），实际缺失/空白/超长 → 400 INVALID_INPUT。","required":true,"schema":{"type":"string"},"example":"register-destination-20260913-0001"}],"requestBody":{"description":"登记请求体：provider（1—64）+ platform=android + registration（非空对象，须含 schema_version，缺省服务端注入 1）+ expectedDestinationRevision（bigint 十进制字符串，首次 \"0\"）。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Request"}}},"required":true},"responses":{"200":{"description":"已登记的本人投递目标（仅 destinationId/destinationRevision/status，绝不回传完整推送 token）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/View","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- BINDING_CHANGED（retryable=false）：乐观并发代次不符（绑定 revision / 通知目标 destination_revision）。触发：请求携带的 expected* 代次与当前值不一致。客户端动作：刷新当前状态（GET）后用最新代次重试。details 形态：{currentBindingRevision} 或 {currentDestinationRevision}（只含当前代次，不泄漏其他账号信息）。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","BINDING_CHANGED","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/me/gimbal-bindings/{gimbalId}":{"put":{"tags":["设备与绑定"],"summary":"用户主动绑定云台到当前账号","description":"用途：已登录且正在协助该云台联网的 APP，用户主动点击后将云台绑定到当前账号。\n调用方：仅 APP（Bearer + 可验证 pairingProof）；云台 → 403 CALLER_NOT_ALLOWED。\n调用顺序：建议先 GET /api/v1/gimbals/{gimbalId}/binding-status（M2-A07）→ 本端点绑定 →\nPUT /api/v1/me/notification-destinations/{installationId}（M5-A01）登记通知目标。\n关键规则：配网不自动绑定；原子校验“未绑定或已绑定本人”，绝不覆盖他人（BOUND_TO_OTHER）；\n相同账号同代次重复绑定幂等（不写库、不递增 binding_revision）；真实绑定使 binding_revision +1。\n云台绑定只决定异常通知账号，不授予成员资料查看权（D01-2）。\n请求：expectedBindingRevision 为无符号 bigint 十进制字符串（乐观并发基线；与当前不符 → 409\nBINDING_CHANGED，details.currentBindingRevision 为当前值）；pairingProof ≤8192 字符，由\nPairingProofVerifier 校验（绑定云台 + 账号/安装 + nonce + 有效期 + 签名；缺失/畸形 → 400，\n验证失败 → 403）。\n幂等语义：Idempotency-Key 必填；同键同内容重放按当前 T03 状态投影（若期间已被他人绑定则 404，\n绝不谎报 self）；同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS。\n错误处理：BINDING_CHANGED 刷新当前绑定状态后按最新代次重试；BOUND_TO_OTHER 绝不覆盖，由当前\n绑定方先解绑；RESOURCE_NOT_VISIBLE 不换 ID 探测；DEPENDENCY_* 受限退避。\n未冻结：pairingProof 具体协议（签名算法/有效期/nonce）待设备团队冻结。\n","operationId":"bind","parameters":[{"name":"gimbalId","in":"path","description":"必填，路径参数，UUID 字符串（T03.id），云台引用。","required":true,"schema":{"type":"string","format":"uuid"},"example":"55555555-5555-4555-8555-555555555555"},{"name":"Idempotency-Key","in":"header","description":"必填，字符串，1—128 字符；T13 幂等键（principal_type+principal_id+operation+idempotency_key）。同逻辑重试保持键与内容不变；更换业务内容使用新键。生成文档标 required=false（控制器手工读取），实际缺失/空白/超长 → 400 INVALID_INPUT。","required":true,"schema":{"type":"string"},"example":"bind-gimbal-20260913-0001"}],"requestBody":{"description":"绑定请求体：expectedBindingRevision（bigint 十进制字符串，首次为 0）+ pairingProof（可验证配对证明，格式待设备协议）。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingBody"}}},"required":true},"responses":{"200":{"description":"绑定关系（bindingStatus=self；已属本人且代次相符时不重复写、不递增代次）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/BindingResultView","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- BOUND_TO_OTHER（retryable=false）：该云台已绑定到其他账号，不能覆盖。触发：绑定目标云台已有他人绑定关系。客户端动作：绝不覆盖他人绑定；由当前绑定方先解绑或由对方授权后再操作。\n- BINDING_CHANGED（retryable=false）：乐观并发代次不符（绑定 revision / 通知目标 destination_revision）。触发：请求携带的 expected* 代次与当前值不一致。客户端动作：刷新当前状态（GET）后用最新代次重试。details 形态：{currentBindingRevision} 或 {currentDestinationRevision}（只含当前代次，不泄漏其他账号信息）。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","BOUND_TO_OTHER","BINDING_CHANGED","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]},"delete":{"tags":["设备与绑定"],"summary":"原绑定账号解除云台绑定","description":"用途：当前绑定所属账号解除云台绑定。\n调用方：仅 APP 且为当前绑定账号；云台 → 403 CALLER_NOT_ALLOWED。\n成功：204 无响应体（requestId 见 X-Request-Id 头），不使用统一成功信封。\n关键规则：If-Match 形如 \"binding-{无符号十进制 bigint}\"，前缀 binding- 必须、双引号可选，格式非法\n（缺前缀/非十进制/溢出）→ 400 INVALID_INPUT。云台不存在或未绑定 → 一律 404 RESOURCE_NOT_VISIBLE\n（不可区分存在性：在 revision 判断之前统一 404，无论 If-Match 取何值）。他人绑定时：If-Match 与当前\n代次相符 → 409 BINDING_CHANGED（不解除他人绑定）；否则 404。\n幂等语义：Idempotency-Key 必填；真实解绑使 binding_revision +1；已解绑的原请求重放（同键）→ 204\n且不递增代次；跨代次解绑 → 409 BINDING_CHANGED。旧解绑（旧 If-Match）绝不删除他人后来的新绑定。\n副作用边界：解绑不撤销成员授权、不删报告/方案/记录、不改变云台当前任务、不发停止指令。\n错误处理：BINDING_CHANGED 刷新状态后用最新代次重试；RESOURCE_NOT_VISIBLE 不换 ID 探测；DEPENDENCY_* 受限退避。\n","operationId":"unbind","parameters":[{"name":"gimbalId","in":"path","description":"必填，路径参数，UUID 字符串（T03.id），云台引用。","required":true,"schema":{"type":"string","format":"uuid"},"example":"55555555-5555-4555-8555-555555555555"},{"name":"If-Match","in":"header","description":"可选，字符串，建议携带 \"binding-{bindingRevision}\" 预期代次；前缀 binding- 必须，双引号可选，非无符号十进制 bigint → 400 INVALID_INPUT。","required":false,"schema":{"type":"string"},"example":"\"binding-1\""},{"name":"Idempotency-Key","in":"header","description":"必填，字符串，1—128 字符；T13 幂等键（principal_type+principal_id+operation+idempotency_key）。同逻辑重试保持键与内容不变；更换业务内容使用新键。生成文档标 required=false（控制器手工读取），实际缺失/空白/超长 → 400 INVALID_INPUT。","required":true,"schema":{"type":"string"},"example":"unbind-gimbal-20260913-0001"}],"responses":{"204":{"description":"解绑成功且无响应体；已解绑原请求重放仍 204 且不递增代次；requestId 见 X-Request-Id 头。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- BINDING_CHANGED（retryable=false）：乐观并发代次不符（绑定 revision / 通知目标 destination_revision）。触发：请求携带的 expected* 代次与当前值不一致。客户端动作：刷新当前状态（GET）后用最新代次重试。details 形态：{currentBindingRevision} 或 {currentDestinationRevision}（只含当前代次，不泄漏其他账号信息）。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","BINDING_CHANGED","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/system/echo-jobs":{"post":{"tags":["基础系统"],"summary":"基础协议——入队 system.echo 跨语言最小测试任务","description":"用途：基础系统端到端验收桥：入队 job_type=system.echo 异步任务（Java 入队、Python worker 执行）。\n调用方：已认证主体（APP 或云台 session token 均可）。\n成功：200；新入队 data.status=queued；携带 Idempotency-Key 且同 principal 同键同内容重放时\n返回同一 jobId 且 meta.replayed=true。\n关键规则：任务 payload 带 schema_version=1，bigint 一律十进制字符串；创建者归属（RV-5 裁定）\n写入 async_jobs.owner_type/owner_id：APP → app_account + accountUuid，GIMBAL → gimbal +\ngimbalUuid；installation 只属 T13 作用域、不进 owner_id（同账号跨安装可读本账号任务）。\ndedup_key=system:echo:<body.jobId 或服务端 UUID>，全局唯一。显式 body jobId 的 dedup 边界\n（RV-7）：若命中非本人所有或非 system.echo 的既有行，POST 返回与 GET 完全相同的\n404 RESOURCE_NOT_VISIBLE（不返回该行 id/status）；有 Idempotency-Key 时该次 T13 记为\nrejected，同键重试重放同一拒绝，绝不 succeeded 指向外来任务。\n幂等语义：Idempotency-Key 可选（1—128 字符；本验收桥端点区别于强制要求的业务写接口）——\n同 principal 同键同内容重放返回原 jobId；不同 principal 同键是不同 T13 作用域，键去重不跨主体；\n同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS + Retry-After。\n字段要点：message ≤512 字符（允许中文）；numbersAsStrings 为有序数组、≤32 项，每项为无符号\nbigint 十进制字符串；jobId 为可选客户端 UUID（作为 dedup_key 后缀，缺省由服务端生成）。\n错误处理：按错误响应动作；RESOURCE_NOT_VISIBLE 表示 dedup 命中外来/非 echo 行，\n不要换 jobId 探测。\n","operationId":"create","parameters":[{"name":"Idempotency-Key","in":"header","description":"可选，字符串，1—128 字符。提供时走 T13 幂等（operation=system.echo.create）：同键同内容重放返回同一 jobId 且 meta.replayed=true，同键异内容 409。","required":false,"schema":{"type":"string","maxLength":128,"minLength":0},"example":"echo-20260913-user-0001"}],"requestBody":{"description":"system.echo 入队请求体：message（契约必填，≤512，允许中文）+ numbersAsStrings（契约必填，≤32 项 bigint 十进制字符串，保持原序）+ 可选 jobId（客户端 UUID）。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EchoJobRequestBody"}}},"required":true},"responses":{"200":{"description":"受理/重放：新入队 data.status=queued；同键同内容重放返回同一 jobId 且 meta.replayed=true","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/EchoJobAcceptedData","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RESOURCE_NOT_VISIBLE","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT"]}},"/api/v1/skin-assessment-tasks":{"post":{"tags":["测肤任务"],"summary":"提交三视角测肤任务（仅云台）","description":"用途：云台上传正面/左侧/右侧三视角照片，受理后创建（或替换云台当前）测肤任务，\n并由后台异步执行分析。\n调用方主体：仅云台（gimbal device session token）。APP token 调用返回 403 CALLER_NOT_ALLOWED；\nAPP 拍照测肤为非 MVP 能力。\n前置与顺序：云台先完成设备会话握手（POST /api/v1/gimbal-sessions）。该云台若存在未收尾的\n护理执行则拒绝：运行中 → 409 DEVICE_OCCUPIED；已停止但未收尾 → 409 STOP_NOT_CONFIRMED。\n服务端不自动停止护理（D01-7：先停止、记录同步并收尾后才允许新测肤）。\n请求：multipart/form-data。metadata 为 application/json（结构见 A01Metadata）；\nfront/left/right 为三张图片二进制，三者缺一不可、不得多余或重复（缺/多/重复 → 400 INVALID_INPUT）。\n字段单位与格式：单图 ≤10MiB、三图合计 ≤32MiB（开发初值，以 app.assessments.max-request-bytes 为准）；\n图片按字节内容嗅探格式（JPEG/PNG/GIF/WebP），不信任客户端 MIME，不支持 → 415 UNSUPPORTED_IMAGE。\n幂等语义：Idempotency-Key 必填（1—128 字符）。服务端以 JCS 规范化 metadata 字段 + 各图片 part\n摘要计算 payload_hash，在 T13 按 (主体类型, 主体 ID, operation=m3a01, Idempotency-Key) 去重：\n同键同内容重放返回 200 且 meta.replayed=true，不重复建任务、不切指针；同键异内容 →\n409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 → 409 REQUEST_IN_PROGRESS（按 Retry-After 同键重试）。\n受理语义：新任务返回 202（已受理、分析异步进行），不代表图片已可用或报告已生成；受理成功\n即原子完成新增 T05、替换云台 current_assessment_id、current_assessment_revision+1 并投递分析\n任务（D01-6：不等新报告/新方案生成）。旧请求重放不返回旧结果、不恢复旧指针；缺失/格式失败\n不受理、不切指针。\n响应：202 data=AssessmentTaskAccepted（新任务）；200 data 同构（重放，currentAssessmentRevision\n为 null，仅投影 T13 存储摘要）。\n错误处理：INVALID_INPUT 修正 metadata/parts；UPLOAD_TOO_LARGE 压缩降分辨率后以新逻辑键重试；\nUNSUPPORTED_IMAGE 改用受支持格式；DEVICE_OCCUPIED/STOP_NOT_CONFIRMED 先结束并收尾护理；\nCALLER_NOT_ALLOWED 改用云台主体（重试无意义）；DEPENDENCY_* 受限退避重试。\n历史背景（该码已从契约本端点移除）：早期契约曾声明 TASK_REPLACED，但本端点实现以\n“受理即替换”完成（TASK_REPLACED 仅在 M3-A02 补拍路径抛出），当前实现从不返回该码；\n本轮已将 TASK_REPLACED 从契约本端点的 x-error-codes 移除，生成文档与契约一致。\n","operationId":"create_1","parameters":[{"name":"Idempotency-Key","in":"header","description":"必填，header，字符串，1—128 字符。逻辑写请求去重键（T13）。同键同内容重放返回 200 且 meta.replayed=true；同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS（按 Retry-After 同键重试）。","required":true,"schema":{"type":"string","maxLength":128,"minLength":1},"example":"b6f1c2d3-4e5f-4a7b-8c9d-0e1f2a3b4c5d"}],"requestBody":{"description":"multipart/form-data。metadata（application/json，结构见 A01Metadata）+ front/left/right 三张图片二进制（缺一不可、不得多余或重复）。大小上限：单图 10MiB、三图合计 32MiB（开发初值，以 app.assessments.max-request-bytes 为准）。幂等：JCS 规范化 metadata 字段 + 图片 part 摘要计算 payload_hash；同一 Idempotency-Key + 相同 payload_hash 重放返回原受理结果（200，meta.replayed=true），同键异内容 409。","content":{"multipart/form-data":{"schema":{"type":"object","additionalProperties":false,"description":"multipart/form-data。metadata（application/json，结构见 A01Metadata）+ front/left/right 三张图片二进制（缺一不可、不得多余或重复）。大小上限：单图 10MiB、三图合计 32MiB（开发初值，以 app.assessments.max-request-bytes 为准）。幂等：JCS 规范化 metadata 字段 + 图片 part 摘要计算 payload_hash；同一 Idempotency-Key + 相同 payload_hash 重放返回原受理结果（200，meta.replayed=true），同键异内容 409。","properties":{"metadata":{"$ref":"#/components/schemas/A01Metadata","description":"必填，application/json。结构见 A01Metadata：photoVersion 必须为 \"1\"、captureSessionId（1—128）、consentEvidenceRef（1—128）；未知字段拒绝。"},"front":{"type":"string","format":"binary","description":"必填，正面视角照片二进制。单图 ≤10MiB；按字节内容嗅探格式（JPEG/PNG/GIF/WebP），不支持 → 415 UNSUPPORTED_IMAGE。"},"left":{"type":"string","format":"binary","description":"必填，左侧视角照片二进制。单图 ≤10MiB；按字节内容嗅探格式（JPEG/PNG/GIF/WebP）。"},"right":{"type":"string","format":"binary","description":"必填，右侧视角照片二进制。单图 ≤10MiB；按字节内容嗅探格式（JPEG/PNG/GIF/WebP）。"}},"required":["front","left","metadata","right"]},"encoding":{"metadata":{"contentType":"application/json"},"front":{"contentType":"image/png"},"left":{"contentType":"image/png"},"right":{"contentType":"image/png"}}}},"required":true},"responses":{"200":{"description":"同一逻辑请求重放（同键同内容），返回原任务引用不重复建任务、不切指针；currentAssessmentRevision 为 null（重放仅投影 T13 存储摘要）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/AssessmentTaskAccepted","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"202":{"description":"已受理（处理状态不等于图片已可用）；data.taskId 即任务引用，status=queued，currentAssessmentRevision 为新递增的云台当前任务代次","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/AssessmentTaskAccepted","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEVICE_OCCUPIED（retryable=false）：云台正在执行未收尾的护理流程，不能开始新的测肤任务。触发：该云台存在 open care execution。客户端动作：先结束/收尾当前执行（见 STOP_NOT_CONFIRMED）后重试。\n- STOP_NOT_CONFIRMED（retryable=false）：云台执行已停止但未被关闭确认，占用尚未释放。触发：open execution 状态为 stopped 且未收尾。客户端动作：完成收尾确认（closure-confirmations）后重试。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"413":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UPLOAD_TOO_LARGE（retryable=false）：上传图片超过单图上限（开发初值 10MiB，以配置为准）。触发：multipart 图片字节数超限。客户端动作：压缩/降分辨率后以新的逻辑键重试；不得原样重放。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"415":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UNSUPPORTED_IMAGE（retryable=false）：图片格式不在白名单（JPEG/PNG/GIF/WebP，按内容嗅探，不信任客户端 MIME）。触发：字节头无法识别或为空图。客户端动作：改用受支持格式后重试。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","UPLOAD_TOO_LARGE","UNSUPPORTED_IMAGE","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","DEVICE_OCCUPIED","STOP_NOT_CONFIRMED","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/microcrystal-observations":{"post":{"tags":["设备与绑定"],"summary":"登记已连接微晶的能力与实际状态观察","description":"用途：登记已连接微晶（T04）的能力包与本次实际状态观察；登记不等于首次绑定授权。\n调用方：APP 或云台均可（各自 session token）。observer 身份只取自 token\n（APP = account:installation 稳定 family；GIMBAL = gimbalId），绝不取请求体。\n请求：microcrystalSerial 1—128 字符；connectionProof ≤8192 字符（绑定控制端 + 微晶 + 当前连接，\n不接受仅序列号）；capabilities 必含 schemaVersion（JSON 整数 ≥1）与 revision（无符号 bigint 十进制\n字符串），其余键透传持久化；observationEpoch 1—128 字符；observationSeq 为无符号 bigint 十进制字符串；\nobservedAt 为 RFC3339 UTC；state 不透明透传。\n幂等语义：Idempotency-Key 必填（1—128 字符）；同键同内容重放返回原受理结果且 meta.replayed=true；\n同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS。同一能力版本重复上报\n不重复触发方案生成；accepted=false（旧 generation/seq）不覆盖已登记能力。\n顺序：来源类型变化（APP↔云台/首次观察）重置代次并 generation=1；同一 family 内 epoch 一致且 seq 严格更大，\n旧 generation 一律拒绝；APP 须跨登录/refresh/重启持久化 epoch + 单调 seq（契约 C25）。\n禁止：不得以观察抢占/改变 T07 占用、不累计次数、不改 care_executions、不创建异步任务；\n请求体不得覆盖他人归属。\n错误处理：UNSUPPORTED_CONTRACT（connectionProof 版本不支持）；CALLER_NOT_ALLOWED（证明无法验证）；\n已被他人观察 → 404 RESOURCE_NOT_VISIBLE（不可区分）；INVALID_INPUT 修正后重试；DEPENDENCY_* 受限退避。\n未冻结：能力参数名/单位/范围与 state 结构必须来自已验证微晶协议（契约 x-detail: skeleton）。\n","operationId":"observe","parameters":[{"name":"Idempotency-Key","in":"header","description":"必填，字符串，1—128 字符；T13 幂等键（principal_type+principal_id+operation+idempotency_key）。同逻辑重试保持键与内容不变；更换业务内容使用新键。生成文档标 required=false（控制器手工读取），实际缺失/空白/超长 → 400 INVALID_INPUT。","required":true,"schema":{"type":"string"},"example":"microcrystal-obs-20260913-0001"}],"requestBody":{"description":"观察请求体：microcrystalSerial、connectionProof、capabilities（必含 schemaVersion/revision）、observationEpoch、observationSeq、observedAt、state（均必填；capabilities/state 结构见自由结构说明）。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MicrocrystalObservationBody"}}},"required":true},"responses":{"200":{"description":"登记受理；accepted=false 表示旧 generation/seq（能力不被覆盖），capabilityRevision 为当前已登记 revision","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/MicrocrystalObservationAck","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"422":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UNSUPPORTED_CONTRACT（retryable=false）：客户端声明的契约/协议版本不受支持。触发：版本协商失败。客户端动作：升级到受支持的协议版本后重试。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","UNSUPPORTED_CONTRACT","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/member-access-grants":{"post":{"tags":["成员访问授权"],"summary":"人脸核验并授予当前账号查看该成员资料","description":"用途：APP 用户对本人进行一次人脸采集，可靠确认本人后建立当前账号与该成员的查看授权关系；\n本授权是 M3-A04/A05 与 M4 系列查看/执行护理的前置（无 active grant → 404 RESOURCE_NOT_VISIBLE）。\n调用方：仅 APP（Bearer = APP session token，手机号会话签发）；云台 token → 403 CALLER_NOT_ALLOWED。\n请求形态：multipart/form-data，parts 必须恰为 metadata（JSON）与 face（图片二进制）；\n缺失/多余 part 或存在额外表单字段 → 400 INVALID_INPUT。face 为空 → 415 UNSUPPORTED_IMAGE，\n超单图上限（开发初值 10MiB）→ 413 UPLOAD_TOO_LARGE，内容嗅探非白名单格式 → 415 UNSUPPORTED_IMAGE。\n关键规则：metadata.capture.purpose 必须为 grant；captureId/clientContinuityId 与\nconsentEvidenceRef 均为 1—128 字符；capturedAt 为 RFC3339 时间戳。服务端只读定位成员\n（identity_namespace + face_subject_ref），不创建新成员、不授予他人查看权、不提供护理启动许可。\n存储：face 图片以 T11 media purpose=grant_face 落库（T11 purpose 枚举共 5 值：\nassessment_source/assessment_result/grant_face/execution_face/revalidation_face；本域固定 grant_face）。\n无可靠匹配、匹配不确定或库中无此成员一律 403 FACE_NOT_VERIFIED 且响应完全一致\n（不返回候选列表，不泄漏成员是否存在）。\n成功码：201 新建 active 授权关系；200 表示已存在 active 关系（复用同一 grantId，\nmeta.replayed=false）或 T13 同键同内容重放（meta.replayed=true）；两种 200 都不刷新核验有效性。\n幂等语义：Idempotency-Key 必填（1—128 字符）；同键同内容重放返回原结果；同键异内容\n409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS + Retry-After。\n旧请求指向已撤销关系 → 403 GRANT_REVOKED（不创建新关系、零新行）；重新授权必须发起\n新的人脸请求并使用新 Idempotency-Key。\n错误处理：FACE_QUALITY_REJECTED 重新采集清晰正脸；FACE_NOT_VERIFIED 按提示重拍，\n不要自动建档或换照片复用同键；图片保存/读取失败绝不当作核验成功（DEPENDENCY_*）；\nDEPENDENCY_* 与 RATE_LIMITED 受限退避重试。\n契约过声明（如实标注）：RESOURCE_NOT_VISIBLE 由 T13 重放投影/找不到原 grant 等路径可能触发，保留。\n","operationId":"create_2","parameters":[{"name":"Idempotency-Key","in":"header","description":"必填，字符串，1—128 字符；T13 幂等键（principal_type+principal_id+operation+idempotency_key）。同逻辑重试保持键与内容不变；更换业务内容使用新键。生成文档标 required=false（控制器手工读取），实际缺失/空白/超长 → 400 INVALID_INPUT。","required":true,"schema":{"type":"string"},"example":"grant-face-20260913-0001"}],"requestBody":{"description":"multipart/form-data：metadata（JSON）+ face（图片二进制），两者必填且不可有多余 part。T13 幂等 payload_hash = 规范化 metadata 字段 + face 图片字节摘要，与 Idempotency-Key 共同决定重放：同键同内容返回原结果，同键异内容 409。","content":{"multipart/form-data":{"schema":{"type":"object","additionalProperties":false,"description":"multipart/form-data：metadata（JSON）+ face（图片二进制），两者必填且不可有多余 part。T13 幂等 payload_hash = 规范化 metadata 字段 + face 图片字节摘要，与 Idempotency-Key 共同决定重放：同键同内容返回原结果，同键异内容 409。","properties":{"metadata":{"$ref":"#/components/schemas/M1A01Metadata","description":"必填 JSON part：M1A01Metadata{capture, consentEvidenceRef}；capture.purpose 必须为 grant；未知字段（如 memberId）→ 400 INVALID_INPUT。"},"face":{"type":"string","format":"binary","description":"必填图片 part：当前人脸采集图（建议 PNG/JPEG；单图 ≤10MiB 开发初值）；按内容嗅探判定格式，不信任客户端 MIME；空图 → 415。"}},"required":["face","metadata"]},"encoding":{"metadata":{"contentType":"application/json"},"face":{"contentType":"image/png"}}}},"required":true},"responses":{"200":{"description":"已存在 active 关系（复用同一 grantId，meta.replayed=false）或同键同内容重放（meta.replayed=true）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/MemberAccessGrantResult","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"201":{"description":"新建查看授权关系成功（data.status=active，meta.replayed=false）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/MemberAccessGrantResult","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。\n- FACE_NOT_VERIFIED（retryable=false）：人脸未能可靠确认本人（未匹配到成员、匹配不确定、或成员不存在）。触发：核验结果非可靠匹配。客户端动作：按提示重新采集本人清晰照片；本码与“库中无此成员”返回同一响应，不泄漏成员是否存在，也不返回候选列表。\n- GRANT_REVOKED（retryable=false）：旧请求指向已撤销的成员访问授权，不能据此创建新的关系或继续写入。触发：T13/业务行关联的关系已 revoked。客户端动作：需要重新授权时发起新的人脸核验请求（新逻辑键），不要复用旧请求键。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"413":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UPLOAD_TOO_LARGE（retryable=false）：上传图片超过单图上限（开发初值 10MiB，以配置为准）。触发：multipart 图片字节数超限。客户端动作：压缩/降分辨率后以新的逻辑键重试；不得原样重放。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"415":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UNSUPPORTED_IMAGE（retryable=false）：图片格式不在白名单（JPEG/PNG/GIF/WebP，按内容嗅探，不信任客户端 MIME）。触发：字节头无法识别或为空图。客户端动作：改用受支持格式后重试。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"422":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- FACE_QUALITY_REJECTED（retryable=false）：人脸照片质量不合格（模糊/遮挡/光照不足等）。触发：人脸质检未通过。客户端动作：重新采集更清晰的正脸照片后重试；不构成“未确认本人”，不要自动建档或重试同一张图。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","UPLOAD_TOO_LARGE","UNSUPPORTED_IMAGE","FACE_QUALITY_REJECTED","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","FACE_NOT_VERIFIED","RESOURCE_NOT_VISIBLE","GRANT_REVOKED","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/gimbals/{gimbalId}/heartbeats":{"post":{"tags":["设备与绑定"],"summary":"云台上报心跳与已知工作状态","description":"用途：已认证云台上报心跳与已知工作状态（在线保活 + 序号化观察）；9/13 硬件联调第二优先端点。\n调用方：仅云台（Bearer = gimbal device session token）；APP → 403 CALLER_NOT_ALLOWED；\ngimbalId 与 token 主体不符或云台不存在 → 404 RESOURCE_NOT_VISIBLE（不可区分）。\n去重与顺序：不使用 Idempotency-Key，改由 body 内 observationEpoch（1—128 字符非空，同一\ngeneration 内不得更换）+ observationSeq（无符号 bigint 十进制字符串，同 generation 同 epoch 内\n必须严格递增）去重排序。服务端维护会话代次表：新连接（首次/凭据推进/服务端首次见此 session）\n接受并重置基准；已被更高代次取代的旧连接一律拒绝；表满且 session 从未见过则 fail closed。\naccepted=false 时不更新 last_seen_at、不递增 status_revision、不覆盖观察。\n契约 C25（须冻结/披露）：APP/云台须跨登录、token refresh 与进程重启持久化 observationEpoch 与\n每微晶单调 observationSeq；重启后不得把 seq 归 1、不得自行更换 epoch，否则该次上报 accepted=false。\n状态与副作用：powerState 枚举 awake|asleep；observedAt 为 RFC3339 UTC；可选 taskId/executionId 仅作\n观察写入 task_ref/execution_ref，绝不移动 current_assessment 指针、不累计次数、不释放占用、不建执行。\nstatus_revision 仅在 connection_status 由 unknown/offline → online 时 +1；本端点从不写 offline\n（离线判定归扫描器）。重复旧心跳不延长在线时间、不覆盖新状态。\n历史背景：本操作曾声明 TASK_REPLACED（契约过声明）。本轮经实现取证确认不可达——心跳不移动\ncurrent_assessment 指针（GimbalHeartbeatService.java:44-45 javadoc 明示“本实现不使用\nTASK_REPLACED”），任务被替换只由测肤受理/补拍与 care 查询路径表达。已从契约 x-error-codes\n与本文档同步移除；CALLER_NOT_ALLOWED 仍保留（仅云台主体，GimbalHeartbeatService.java:79）。\nHTTP 行为与序列化语义未变。\n错误处理：INVALID_INPUT（含 observationSeq 越界）修正后重试；SESSION_INVALID 凭据代次已变 →\n重新握手；RESOURCE_NOT_VISIBLE 不换 ID 探测；DEPENDENCY_* 受限退避重试。\n","operationId":"heartbeat","parameters":[{"name":"gimbalId","in":"path","description":"必填，路径参数，UUID 字符串（T03.id），云台引用。","required":true,"schema":{"type":"string","format":"uuid"},"example":"55555555-5555-4555-8555-555555555555"}],"requestBody":{"description":"心跳请求体：observationEpoch + observationSeq（去重/顺序依据）、observedAt、powerState（awake|asleep）为必填；taskId/executionId/incidents 可选。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeartbeatBody"}}},"required":true},"responses":{"200":{"description":"接收确认 + 后端记录时间；accepted 可为 false（旧序号仍确认收到）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/HeartbeatAck","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","RESOURCE_NOT_VISIBLE","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/gimbal-sessions":{"post":{"tags":["云台会话"],"summary":"云台认证或恢复连接后重新认证（设备会话握手）","description":"用途：云台设备上电/重连时的设备会话握手：以设备凭据换取 gimbal device session token\n（token 绑定 gimbalId + credentialVersion + 会话 ID）。这是 9/13 硬件联调设备上电后的\n第一个请求。\n调用方：公开端点（security: []，无 Bearer）；云台设备。\n关键规则：credential 由设备凭据提供方验证；credentialVersion 为无符号 bigint 十进制字符串\n（pattern ^(0|[1-9][0-9]*)$）；proof 为提供方要求的 nonce/proof（防重放）。凭据失败统一\n401 AUTH_REQUIRED，不区分“未知凭据/版本不符”，避免枚举探测。本端点不创建或改变云台归属、\n不登记“可信在线”、不创建护理执行；设备凭据不使用 Idempotency-Key 缓存可重放的秘密凭据。\n鉴权口径：会话 token 的主体身份只由 token 派生，请求体不得声明 gimbalId；\ncredentialVersion 递增（凭据轮换）后旧 token 立即 401 SESSION_INVALID——认证过滤器每请求\n经 PrincipalRevalidator 以一条单行查询复核 credential_version。\n幂等语义：不使用 Idempotency-Key；重复认证不创建护理执行，握手防重放由提供方协议保证。\n字段要点：credential ≤256 字符；proof ≤512 字符；expiresAt/serverTime 为 RFC3339 UTC\n秒精度时间。\n错误处理：INVALID_INPUT 修正字段（含 credentialVersion 越界）；AUTH_REQUIRED 设备凭据未通过；\nRATE_LIMITED 与 DEPENDENCY_* 按错误响应动作受限退避。\n历史背景：本操作曾声明 SESSION_INVALID 与 IDEMPOTENCY_CONTENT_CONFLICT（契约过声明）。\n本轮经实现取证确认均不可达——本端点为公开端点、不经过 BearerAuthFilter，故 SESSION_INVALID\n无入口；本端点无 Idempotency-Key，而 IDEMPOTENCY_CONTENT_CONFLICT 全仓唯一抛出点为\nidempotency/IdempotencyService.java:104，故亦无入口。已从契约 x-error-codes 与本文档同步移除；\nHTTP 行为与序列化语义未变。\n未冻结：设备签名算法、密钥预置/轮换、credential/proof 具体格式、sessionToken 字段名与\ntoken 有效期均随设备团队与会话协议，待定（dev/test 为 DeviceCredentialProvider 替身）。\n","operationId":"createGimbalSession","requestBody":{"description":"设备凭据握手请求体：credential、credentialVersion（bigint 十进制字符串）、proof（均必填）。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GimbalSessionRequestBody"}}},"required":true},"responses":{"200":{"description":"云台设备会话签发成功（不返回成员资料）","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/GimbalSessionData","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"security":[],"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT"]}},"/api/v1/gimbal-ai/messages":{"post":{"tags":["云台AI问答"],"summary":"云台 AI 文本问答（流式，无状态透传）","description":"用途：云台设备提交一段用户文本，服务端<b>流式</b>转发给 AI 服务并逐事件回传。\n调用方：仅云台设备会话（Authorization: Bearer <gimbal device session token>）。\nAPP 会话主体一律 403 CALLER_NOT_ALLOWED，且不产生任何下游请求；未认证请求由\nBearerAuthFilter 统一 401（AUTH_REQUIRED/SESSION_INVALID）。\n请求（严格形状）：body 仅允许 text 一个字段（1—2000 字符，去空白后非空）；\n未知字段、空/超长 → 400 INVALID_INPUT，解析失败发生在任何下游调用之前。\n成功响应：200，Content-Type: text/event-stream（Cache-Control: no-store）。\n服务端逐事件、每事件即时 flush（绝不缓冲整段答案），外部事件为：\n- response.accepted（信息性）；\n- response.delta：data 为 {\"delta\":\"…\"}，按序即时下发；\n- response.completed：data 为 {\"answerText\":\"…\"}（权威答案），恰一个成功终态；\n- response.failed：data 为 {\"code\":\"DEPENDENCY_UNAVAILABLE|DEPENDENCY_TIMEOUT\",\n  \"message\":\"…\"}（仅安全码/文案，不含堆栈、下游响应体、continuation_state 或密钥），\n  恰一个失败终态。\n服务端对下游 SSE 做<b>解析-校验-重编码白名单</b>，绝不字节透传：只认\nresponse.accepted/response.delta/response.completed/response.failed；未知事件、重复/缺失终态、畸形、\nEOF、读取超时一律 fail-closed（流内失败转成一个 response.failed 终态）。客户端断开时\n服务端取消下游连接。\n错误映射：<b>预流失败</b>（授权、校验、下游连接失败/预流非 2xx/预流超时）\n在建立 SSE 前发生，返回统一 JSON 错误信封与 HTTP 状态（如 400/403/503/504）；\n一旦流已开始，失败只能以一个 response.failed 事件表达（HTTP 仍为 200）。\n下游契约（服务端内部）：POST {app.gimbal-ai.base-url}/internal/v1/ai/responses:stream，\nHeader X-Service-Name=medical-platform、X-API-Key、X-Request-Id（服务端每次调用\n新生成，与 body.request_id 一致）、Idempotency-Key（每次调用全新，且不发送\nLast-Event-ID、绝不断点续传）、X-Protocol-Version=1.0、traceparent（W3C）、\nAccept: text/event-stream、Content-Type: application/json；body 为\n{protocol_version:\"1.0\", request_id, use_case:\"APP_AGENT_CONVERSATION\",\ninput:{text}}，不含 continuation_state。绝不回退一次性接口。\n幂等语义（重要限制）：本端点无本地幂等存储，每次调用都使用全新的下游\nIdempotency-Key——客户端重试会产生一个<b>新问题</b>（下游亦无重放存储）。\n配置与降级：app.gimbal-ai.base-url / api-key 缺省为空（安全占位），真实值由部署\n环境注入；app.providers.mode=disabled 或未配置（非生产）时一律预流 503\nDEPENDENCY_UNAVAILABLE，绝不回退替身或合成答案；生产信号下缺配置拒绝启动。\n错误处理：INVALID_INPUT 修正 body；CALLER_NOT_ALLOWED 换用云台会话；\nDEPENDENCY_UNAVAILABLE（503）与 DEPENDENCY_TIMEOUT（504）为下游依赖失败/超时\n（预流为 HTTP 问题，流内为 response.failed 事件），受限重试（注意\"重试即新问题\"语义）。\n**能力限制（如实披露）**：这是无状态、无上下文的文本问答，不存储也不回传\ncontinuation_state，因此无法承载真实的测肤报告后续追问；真正的报告后追问需要\n先存储并回传评估的 continuation_state，属后续增量（本轮明确不在范围内）。\n","operationId":"messages","requestBody":{"description":"请求体：仅 text（必填，1—2000 字符，去空白后非空）；未知字段一律 400 INVALID_INPUT。","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GimbalAiMessageRequest"}}},"required":true},"responses":{"200":{"description":"SSE 事件流（text/event-stream）：response.accepted / response.delta{delta} / response.completed{answerText} / response.failed{code,message}；每事件即时 flush，恰一个终态；预流失败改以 JSON 错误信封表达","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"text/event-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- CALLER_NOT_ALLOWED（retryable=false）：当前主体类型不允许调用该端点（如云台调用 APP 专属端点、APP 调用云台专属端点）。触发：principal 类型与端点要求的 APP/GIMBAL 不符。客户端动作：改用正确主体/端点，重试无意义。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","AUTH_REQUIRED","SESSION_INVALID","CALLER_NOT_ALLOWED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT"]}},"/api/v1/care-executions":{"post":{"tags":["护理执行"],"summary":"人脸核验、取得方案并登记新执行","description":"用途：9/13 联调核心端点。对人脸核验当前使用者、校验方案就绪/微晶能力/占用，并原子登记一次新护理执行。\n成功仅表示\"已登记，待端侧确认\"（status=admitted），绝不宣称硬件已运行；端侧须自行确认核验仍适用、\n本地微晶就绪后才首次启动。\n调用方：APP（metadata 提供 planId，须对该成员有 active 授权）或云台（metadata 提供 currentTaskId 与\ncurrentAssessmentRevision，方案由后端从云台唯一当前测肤任务确定）。主体身份只由 token 派生，\n请求体不决定 memberId/controller。\n请求：multipart/form-data，metadata（JSON，M4A03Metadata）+ face（当前人脸图片二进制；按内容嗅探\n支持 JPEG/PNG/GIF/WebP，单图上限约 10MiB 以配置为准）。必须携带 Idempotency-Key。\n前置与顺序（联调排程依据）：\n 1) capture.purpose 必须为 admission；\n 2) 方案 generation_status=ready，否则 409 PLAN_NOT_READY；能力覆盖不足时 details.reason 为有界 token：\n    device_capabilities_missing|frozen_capability_requirement_missing|malformed_frozen_capability|\n    capability_id_mismatch|parameter_range_not_covered|region_not_supported|n_out_of_bounds|\n    step_parameters_not_covered|malformed_frozen_step；\n 3) 方案未完成 K<N，否则 409 PLAN_COMPLETED；\n 4) 云台路径 currentTaskId/currentAssessmentRevision 须与云台 current_assessment 指针及代次精确一致，\n    否则 409 TASK_REPLACED；APP 路径须持 active 授权，否则 404 RESOURCE_NOT_VISIBLE；\n 5) 微晶/云台无未收尾占用（部分唯一索引兜底），否则 409 DEVICE_OCCUPIED（不泄露对方成员）。\n成功与幂等：首次成功 201，data=CareExecutionAdmission（status=admitted、controller、planExecution\n执行简版、progress、verification、recordStreamEpoch 由后端以 executionId 派生并返回）；相同\nIdempotency-Key 同内容重放返回 200 且 meta.replayed=true（不得当作首次启动许可，不产生新的核验有效性、\n不重新启动）；同键异内容 409 IDEMPOTENCY_CONTENT_CONFLICT；处理中 409 REQUEST_IN_PROGRESS\n（按 Retry-After 用同一键重试）。\n关键规则：人脸照片保存/读取失败不得返回本轮核验通过；换人不返回原成员方案。\n字段单位/枚举：N/K/剩余为无符号 bigint 十进制字符串（单位：次）；progressRevision 默认 0；\n首次 verificationRevision=\"1\"；capturedAt 为 RFC3339 UTC。\n错误处理：INVALID_INPUT/UNSUPPORTED_IMAGE/UPLOAD_TOO_LARGE/FACE_QUALITY_REJECTED 修正或重采后重试\n（换内容须用新 Idempotency-Key）；FACE_NOT_VERIFIED 重新采集本人清晰照片（不泄露成员是否存在）；\nDEVICE_OCCUPIED 先停止并收尾在跑执行；TASK_REPLACED 以云台当前任务为准；AUTH_REQUIRED/SESSION_INVALID\n重新登录/握手；RATE_LIMITED/DEPENDENCY_* 受限退避重试。\n历史背景：本操作曾声明 CALLER_NOT_ALLOWED 与 BINDING_CHANGED（契约过声明）。经实现取证：本操作同时接纳\nAPP 与云台主体（controllerType 可为 gimbal），CareAuthorization.requireApp 在 care 包仅被\nCareQueryService:69,107,227 调用，故本路径无 403 主体拒绝；BINDING_CHANGED 只在\ndevices/GimbalBindingService.java:357 与 notifications/NotificationDestinationService.java:324,327，\n护理路径无绑定代次入参。已从契约 x-error-codes 与本文档同步移除；HTTP 行为与序列化语义未变。\n","operationId":"createCareExecution","parameters":[{"name":"Idempotency-Key","in":"header","description":"必填，请求头，字符串 1—128 字符；控制器强制（缺失/空白 → 400 INVALID_INPUT）。T13 逻辑请求去重键（principal+operation+key）：同键同内容重放返回同一执行且 meta.replayed=true（200），同键异内容 409。生成文档默认 required=false，此处按契约与控制器实际强制覆盖为必填。","required":true,"schema":{"type":"string"},"example":"adm-20260913-0001"}],"requestBody":{"description":"multipart/form-data：metadata（JSON，M4A03Metadata）+ face（人脸图片二进制），两者均必填。Idempotency-Key 与 JCS payload_hash（含图片摘要）共同保证同键同内容才重放；换人脸或换业务内容须换新键。","content":{"multipart/form-data":{"schema":{"type":"object","additionalProperties":false,"description":"multipart/form-data：metadata（JSON，M4A03Metadata）+ face（人脸图片二进制），两者均必填。Idempotency-Key 与 JCS payload_hash（含图片摘要）共同保证同键同内容才重放；换人脸或换业务内容须换新键。","properties":{"metadata":{"$ref":"#/components/schemas/M4A03Metadata","description":"必填，JSON part（application/json），M4A03Metadata；APP 提供 planId，云台提供 currentTaskId+currentAssessmentRevision，按调用角色二选一。"},"face":{"type":"string","format":"binary","description":"必填，图片二进制 part；当前人脸照片，绑定本轮请求与控制端上下文。按内容嗅探支持 JPEG/PNG/GIF/WebP，单图上限约 10MiB（以配置为准）；照片保存/读取失败不得返回核验通过。"}},"required":["face","metadata"]},"encoding":{"metadata":{"contentType":"application/json"},"face":{"contentType":"image/png"}}}},"required":true},"responses":{"200":{"description":"相同请求幂等重放：返回同一执行、meta.replayed=true、verification.replayed=true；不得当作首次启动许可","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/CareExecutionAdmission","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"201":{"description":"新执行登记成功（status=admitted，未声称硬件运行）；data=CareExecutionAdmission","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/CareExecutionAdmission","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- FACE_NOT_VERIFIED（retryable=false）：人脸未能可靠确认本人（未匹配到成员、匹配不确定、或成员不存在）。触发：核验结果非可靠匹配。客户端动作：按提示重新采集本人清晰照片；本码与“库中无此成员”返回同一响应，不泄漏成员是否存在，也不返回候选列表。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEVICE_OCCUPIED（retryable=false）：云台正在执行未收尾的护理流程，不能开始新的测肤任务。触发：该云台存在 open care execution。客户端动作：先结束/收尾当前执行（见 STOP_NOT_CONFIRMED）后重试。\n- PLAN_NOT_READY（retryable=false）：护理方案尚未就绪（生成中或生成失败），不能开始执行。触发：care_plans.generation_status 非 ready。客户端动作：轮询方案状态，就绪后再创建执行；失败态需按失败原因处理，不自动重试无限循环。\n- PLAN_COMPLETED（retryable=false）：护理方案已完成/关闭，不能对其创建新执行。触发：plan 终态。客户端动作：为新的护理周期使用新的方案。\n- TASK_REPLACED（retryable=false）：该云台的当前测肤任务已被新任务替换，旧任务不再是当前任务。触发：操作针对的任务 ≠ 云台当前任务。客户端动作：不返回旧报告/旧方案、不恢复旧指针；以当前任务为准重新发起。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"413":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UPLOAD_TOO_LARGE（retryable=false）：上传图片超过单图上限（开发初值 10MiB，以配置为准）。触发：multipart 图片字节数超限。客户端动作：压缩/降分辨率后以新的逻辑键重试；不得原样重放。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"415":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- UNSUPPORTED_IMAGE（retryable=false）：图片格式不在白名单（JPEG/PNG/GIF/WebP，按内容嗅探，不信任客户端 MIME）。触发：字节头无法识别或为空图。客户端动作：改用受支持格式后重试。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"422":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- FACE_QUALITY_REJECTED（retryable=false）：人脸照片质量不合格（模糊/遮挡/光照不足等）。触发：人脸质检未通过。客户端动作：重新采集更清晰的正脸照片后重试；不构成“未确认本人”，不要自动建档或重试同一张图。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RATE_LIMITED（retryable=true）：触发限流。触发：单位时间请求过多。客户端动作：按 Retry-After 退避后重试；retryable=true，但应避免立即重试造成放大。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"501":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- NOT_IMPLEMENTED（retryable=false）：该能力在当前版本未实现（占位/未启用）。触发：调用未启用端点或未激活提供方。客户端动作：不要重试，按产品/联调约定确认能力可用性。已知场景：APP 侧各域业务端点占位亦可能返回 501，需以契约 x-implementation 为准。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_UNAVAILABLE（retryable=true）：依赖不可用（存储写入/人脸或分析提供方等）；任务/写入未成功，绝不伪报成功。触发：下游调用或存储失败。客户端动作：受限退避重试；retryable=true。本码绝不返回“默认核验通过”；上传失败不会留下可用的媒体对象。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"504":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- DEPENDENCY_TIMEOUT（retryable=true）：依赖调用超时；结果未知，未伪报成功。触发：下游超时。客户端动作：受限退避重试；retryable=true。与 DEPENDENCY_UNAVAILABLE 同样不得视为核验通过。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-error-codes":["INVALID_INPUT","UPLOAD_TOO_LARGE","UNSUPPORTED_IMAGE","FACE_QUALITY_REJECTED","AUTH_REQUIRED","SESSION_INVALID","FACE_NOT_VERIFIED","RESOURCE_NOT_VISIBLE","DEVICE_OCCUPIED","PLAN_NOT_READY","PLAN_COMPLETED","TASK_REPLACED","IDEMPOTENCY_CONTENT_CONFLICT","REQUEST_IN_PROGRESS","RATE_LIMITED","DEPENDENCY_UNAVAILABLE","DEPENDENCY_TIMEOUT","NOT_IMPLEMENTED"]}},"/api/v1/care-executions/{executionId}/revalidations":{"post":{"tags":["护理执行"],"summary":"使用者连续性失效后重新核验恢复条件","description":"用途：原执行因换人/追踪失效/断网暂停后，重新核验当前使用者并恢复可继续条件。成功仅更新核验代次与摘要，\n执行仍保持 paused，不自动变 running；端侧须确认当前使用者与微晶条件后才继续。\n调用方：原执行的合法控制端（APP 须原 accountId+installationId 精确一致；云台须原 controller_gimbal_id）；\nAPP 还须保留对该成员的 active 授权。\n请求：multipart/form-data，metadata（JSON，M4A04Metadata）+ face（当前人脸图片二进制）；\ncapture.purpose 必须为 revalidation；强制 Idempotency-Key。\n前置与顺序（联调排程依据）：① 先调用 M4-A05 上报实际 stopped/paused 观察并同步待补记录；unknown 状态\n必须先收到新鲜 paused 观察，否则继续 409；② 执行状态必须 paused；③ expectedVerificationRevision 必须等于\n执行当前 verificationRevision；④ 云台还须让方案属于其当前测肤任务指针，否则 409 TASK_REPLACED；\n⑤ 方案未完成 K<N。\n不可恢复统一 409 EXECUTION_NOT_RESUMABLE，details.reason 有 7 种取值：\nadmitted_not_paused（状态 admitted）、running_not_paused（running）、\nunknown_needs_fresh_paused_observation（unknown，须先经 M4-A05 收到新鲜 paused 观察）、\nstopped_not_resumable（stopped）、closed_not_resumable（closed）、plan_completed（已达 K>=N）、\nverification_revision_mismatch（代次不符）。（另有防御性 not_paused 分支，正常状态机下不可达。）\n成功与幂等：200，data=CareExecutionRevalidation（沿用原 planId/planExecution/progress，executionId 不变，\nverification 为新一轮核验）；同键同内容重放 200 且 meta.replayed=true，重放不刷新核验有效期。\n字段与枚举：status ∈ admitted|running|paused|unknown|stopped|closed；reportedMicrocrystalState 必须为\nJSON 对象或 null（结构未冻结，见自由结构展开）；expectedVerificationRevision 为无符号 bigint 十进制字符串。\n错误处理：INVALID_INPUT 修正字段；FACE_NOT_VERIFIED/FACE_QUALITY_REJECTED/UNSUPPORTED_IMAGE/\nUPLOAD_TOO_LARGE 重新采集；RESOURCE_NOT_VISIBLE 非原控制端/无授权/不存在同 404；TASK_REPLACED 以当前任务为准；\n拟补记录与既有冲突 409 RECORD_CONFLICT，先以服务端为准修正本地；AUTH_REQUIRED/SESSION_INVALID 重新登录/握手；\nRATE_LIMITED/DEPENDENCY_* 受限退避。\n历史背景：本操作曾声明 CALLER_NOT_ALLOWED 与 RECORD_CONFLICT（契约过声明）。经实现取证：本操作同时接纳\nAPP 与云台主体，requireApp 在 care 包仅被 CareQueryService:69,107,227 调用，无 403 主体拒绝路径；\n重新核验路径不写台账记录，RECORD_CONFLICT 只在 CareLedgerService:349,368（M4-A05）与 :527,807（M4-A06）。\n已从契约 x-error-codes 与本文档同步移除；HTTP 行为与序列化语义未变。\n","operationId":"revalidateCareExecution","parameters":[{"name":"executionId","in":"path","description":"必填，路径参数，UUID 字符串（T07.id），原护理执行引用。","required":true,"schema":{"type":"string","format":"uuid"},"example":"22222222-2222-4222-8222-222222222222"},{"name":"Idempotency-Key","in":"header","description":"必填，请求头，字符串 1—128 字符；控制器强制（缺失/空白 → 400 INVALID_INPUT）。同键同内容重放返回同一结果且 meta.replayed=true，重放不刷新核验有效期；生成文档默认 required=false，此处覆盖为必填。","required":true,"schema":{"type":"string"},"example":"reval-20260913-0001"}],"requestBody":{"description":"multipart/form-data：metadata（JSON，M4A04Metadata）+ face（人脸图片二进制），两者均必填。","content":{"multipart/form-data":{"schema":{"type":"object","additionalProperties":false,"description":"multipart/form-data：metadata（JSON，M4A04Metadata）+ face（人脸图片二进制），两者均必填。","properties":{"metadata":{"$ref":"#/components/schemas/M4A04Metadata","description":"必填，JSON part（application/json），M4A04Metadata；capture.purpose 必须为 revalidation。"},"face":{"type":"string","format":"binary","description":"必填，图片二进制 part；新一轮当前人脸照片。按内容嗅探支持 JPEG/PNG/GIF/WebP，单图上限约 10MiB；旧图片引用不得绕过本轮连续性检查，图片失败不得恢复护理。"}},"required":["face","metadata"]},"encoding":{"metadata":{"contentType":"application/json"},"face":{"contentType":"image/png"}}}},"required":true},"responses":{"200":{"description":"恢复条件判定结果：保留原方案与进度 + 新一轮 Verification；执行状态不自动变 running","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"type":"object","description":"统一成功信封 {requestId, data, meta}；204 无响应体","properties":{"requestId":{"type":"string","description":"本次 HTTP 尝试的请求 ID，与响应头 X-Request-Id 同值；每次重试都会变化，不能用作幂等键","example":"0e6a2b1c-4d5e-6f70-8a9b-0c1d2e3f4a5b"},"data":{"$ref":"#/components/schemas/CareExecutionRevalidation","description":"业务数据；字段含义见该类型定义"},"meta":{"$ref":"#/components/schemas/Meta","description":"元数据：replayed=是否 T13 幂等重放（true 时未重做写入）；serverTime=服务端时间 RFC3339 UTC 秒精度"}},"required":["data","meta","requestId"]}}}},"400":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- INVALID_INPUT（retryable=false）：请求字段缺失、格式非法、枚举越界或未知字段。触发：Bean Validation 或业务前置校验失败。客户端动作：修正请求后重试；不得原样重放。details 形态：{fields:[{field,reason}]}（逐字段原因，不泄漏服务端内部结构）。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- AUTH_REQUIRED（retryable=false）：缺少或格式错误的 Authorization 头。触发：无 Bearer token 或非 Bearer 方案。客户端动作：先登录获取 token 后重试。本码不区分 token 是否有效，避免枚举。\n- SESSION_INVALID（retryable=false）：会话 token 无效、已过期或已被撤销（含账号停用/全端登出/云台凭据版本轮换）。触发：每请求与本地状态复核失败。客户端动作：重新登录/重新握手获取新 token 后重试；不得复用旧 token。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- FACE_NOT_VERIFIED（retryable=false）：人脸未能可靠确认本人（未匹配到成员、匹配不确定、或成员不存在）。触发：核验结果非可靠匹配。客户端动作：按提示重新采集本人清晰照片；本码与“库中无此成员”返回同一响应，不泄漏成员是否存在，也不返回候选列表。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- RESOURCE_NOT_VISIBLE（retryable=false）：资源对当前主体不可见（不存在、不属于本人、或已被替换）。触发：按 ID/归属查询不到对当前 principal 可见的行。客户端动作：不要换 ID 探测；本码刻意对“不存在”与“不可见”返回完全相同的响应，防止存在性推断。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"业务错误（HTTP 状态由各业务码映射；同一状态多码合并列出）：\n- EXECUTION_NOT_RESUMABLE（retryable=false）：该护理执行当前状态不可继续/恢复。触发：执行已终态或状态机不允许 resumption。客户端动作：查询执行当前状态后按状态机推进；不要重复提交。\n- TASK_REPLACED（retryable=false）：该云台的当前测肤任务已被新任务替换，旧任务不再是当前任务。触发：操作针对的任务 ≠ 云台当前任务。客户端动作：不返回旧报告/旧方案、不恢复旧指针；以当前任务为准重新发起。\n- IDEMPOTENCY_CONTENT_CONFLICT（retryable=false）：同一 Idempotency-Key 携带了不同内容（payload_hash 不一致），与首次请求冲突。触发：T13 记录 (principal_type, principal_id, operation, idempotency_key) 已存在且载荷哈希不同。客户端动作：这是一个新的逻辑请求，必须使用新的 Idempotency-Key；同键同内容重放会命中原结果（meta.replayed=true），不冲突。\n- REQUEST_IN_PROGRESS（retryable=true）：同一逻辑请求正在处理中（T13 租约未释放），尚未有终态结果。触发：同 (principal, operation, idempotency_key) 另一处理在进行。客户端动作：按响应 Retry-After 等待后，用<strong>同一</strong> Idempotency-Key 重试；本码 retryable=true。","headers":{"X-Request-Id":{"description":"本次 HTTP 尝试的请求 ID，与响应体 requestId 同值"}},"content":{"appli
[...]
